<html>
<head><title>Help On LaTeX2e \ensuremath</title>
<link rel=stylesheet type="text/css" title="Help with LaTeX" href="latex.css">
</head>
<body>

<h3>Hypertext Help with LaTeX</h3>
<h1>\ensuremath (<strong>LaTeX2e</strong>)</h1>

<p><tt>\ensuremath{Text set in math mode}</tt></p>

<p>
The argument of the <tt>\ensuremath</tt> command is always set in 
math mode, regardless of the current mode. Note that math mode 
is <strong>not</strong> specifically invoked in the argument of
the <tt>\ensuremath</tt> command. </p>

<p>
Thus <tt>\ensuremath{$\alpha^2+\beta^2$}</tt> is <strong>not 
correct</strong>.<br>
The <strong>correct</strong> form is <tt>\ensuremath{\alpha^2+\beta^2}</tt>.</p>

<p>
See also <a href="ltx-18.html"><tt>\newcommand</tt></a></p>

<hr>
<p>Go to <a href="ltx-2.html">LaTeX Table of Contents</a></p>

<hr>
<address>
Revised: Sheldon Green, 4 May 1995.
</address>
</body></html>
