<html>
<head><title>Help On LaTeX \pagestyle</title><link rel=stylesheet type="text/css" title="Help with LaTeX" href="latex.css">
</head>
<body>
<h3>Hypertext Help with LaTeX</h3><h1>\pagestyle</h1>
 <tt>\pagestyle{option}</tt>
<p>
 The <tt>\pagestyle</tt> <a href="declarations.html">declaration</a>
  changes  the style  from the current  page on
 throughout the remainder of your document.
<p>
 The valid options are:
<ul>
<li><TT>plain</TT> Just a plain page number.
<li><TT>empty</TT> Produces empty heads and feet - no page numbers.
<li><TT>headings</TT> Puts running headings  on  each  page.   The  document
     style specifies what goes in the headings.
<li><TT>myheadings</TT> You specify what is to go in the  heading  with  the
     <tt>\markboth</tt> or the <tt>\markright</tt> commands.
</ul>
<hr>
See also
<A href="ltx-264.html"><tt>\markboth</tt> and 
  <tt>\markright</tt></A><br>
See also <a href="ltx-131.html">Page Styles</a><br>
Back to the <a href="ltx-2.html">Table of Contents</a>
<hr>
<address>
Revised: Sheldon Green, 29 Jun 1995.
</address>
</body>
</html>
