<html>
<head><title>Help On LaTeX \kill</title><link rel=stylesheet type="text/css" title="Help with LaTeX" href="latex.css">
</head>
<body>
<h3>Hypertext Help with LaTeX</h3><h1>\kill</h1>
 The <tt>\kill</tt> command allows you to set tab stops without producing  text.
 It works just like the 
 <a href="ltx-181.html"><tt>\\</tt></a> except 
 that it throws away the current  line
 instead  of producing  output for it.  The effect  of any 
 <a href="ltx-187.html"><tt>\=</tt></a>,
 <a href="ltx-190.html"><tt>\+</tt></a> or 
 <a href="ltx-182.html"><tt>\-</tt></a>  
 commands in that line remain in effect.
<hr>
See also  <A href="ltx-58.html">Tabbing</A> Environment<br>  
Return to the <a href="ltx-2.html">LaTeX Table of Contents</a>
<hr>
<address>
Revised: Sheldon Green, 29 Jun 1995.
</address>
</body>
</html>
