<html>
<head><title>Help On LaTeX Terminal Input and Output</title>
<link rel=stylesheet type="text/css" title="Help with LaTeX" href="latex.css">
</head>
<body>
<h3>Hypertext Help with LaTeX</h3><h1>Terminal Input and Output</h1>
Input from or output to the terminal is controlled by 
<ul>
<li><A href="ltx-174.html">\typeout</A>
<li><A href="ltx-175.html">\typein</A>
</ul>
<hr>
Return to the <a href="ltx-2.html">LaTeX Table of Contents</a>
<hr>
<address>
Revised: Sheldon Green, 29 Sep 1995.
</address>
</body>
</html>
