<html>
<head><title>Help On LaTeX \ref</title><link rel=stylesheet type="text/css" title="Help with LaTeX" href="latex.css">
</head>
<body>
<h3>Hypertext Help with LaTeX</h3><h1>\ref</h1>
<p>
 <tt>\ref{key}</tt>
<p>

 The <tt>\ref</tt> command produces  the number of the sectional  unit, equation
 number, ... of the corresponding 
<a href="ltx-252.html"><tt>\label</tt></a> command.
<p>
Bibliographic references using the 
<a href="ltx-73.html"><tt>\thebibliography</tt></a>
mechanism obtain their number or label using 
<a href="ltx-211.html"><tt>\cite</tt></a>
<p>
The <tt>\ref</tt> command is <a href="fragile.html">fragile</a>.
<hr>
See also <A href="ltx-13.html">Cross References</A><br>
Return to <a href="ltx-2.html">LaTeX Table of Contents</a> 
<hr>
<address>
Revised: Sheldon Green, 4 Jul 1995.
</address>
</body>
</html>
