<html>
<head><title>Help On LaTeX \&lt;</title>
<link rel=stylesheet type="text/css" title="Help with LaTeX" href="latex.css">
</head>
<body>
<h3>Hypertext Help with LaTeX</h3><h1>\&lt;</h1>
 The <tt>\&lt;</tt> command  allows  you to put something  to the left of the local
 margin without changing the margin.

<hr>
See also <A href="ltx-58.html">tabbing</A><br> 
Return to <a href="ltx-2.html">LaTeX Table of Contents</a>
<hr>
<address>
Revised: Sheldon Green, 29 Sep 1995.
</address>
</body>
</html>
