<html>
<head><title>Help On LaTeX \opening</title><link rel=stylesheet type="text/css" title="Help with LaTeX" href="latex.css">
</head>
<body>
<h3>Hypertext Help with LaTeX</h3><h1>\opening</h1>
 <tt>\opening{text}</tt>
<p>
 The letter begins with the <tt>\opening</tt> command.  The mandatory  argument,
 <tt>text</tt>, is what ever text you wish to start your letter, for example:
<pre>
    <tt>\opening{Dear John,}</tt>
</pre>
</body>
<hr>
See <a href="ltx-91.html">Letters</a><br>
Return to the <a href="ltx-2.html">LaTeX Table of Contents</a>
<hr>
<address>
Revised: Sheldon Green, 24 Jun 1995.
</address>
</html>
