<html>
<head><title>Help On LaTeX \location</title><link rel=stylesheet type="text/css" title="Help with LaTeX" href="latex.css">
</head>
<body>
<h3>Hypertext Help with LaTeX</h3><h1>\location</h1>
 <tt>\location{address}</tt>
<p>
 This modifies your organization's standard address.  This only appears
 if the firstpage pagestyle is selected.
<hr>
See also: <A href="ltx-91.html">Letters</A><br>
Return to the <a href="ltx-2.html">LaTeX Table of Contents</a>
<hr>
<address>
Revised: Sheldon Green, 23 Jun 1995.
</address>
</body>
</html>
