<html>
<head><title>Help On LaTeX \dashbox</title>
<link rel=stylesheet type="text/css" title="Help with LaTeX" href="latex.css">
</head>
<body>
<h3>Hypertext Help with LaTeX</h3><h1>\dashbox</h1>
 <tt>\dashbox{dash length}(width,height)[pos]{ ... }</tt>
<p>
 Used only in the <a href="ltx-43.html">picture environement</a>, 
 the <tt>\dashbox</tt> is like <a href="ltx-237.html"><tt>\framebox</tt></a>
 but has an extra argument  which specifies  the width of each
 dash.  A dashed box looks best when the width and height are multiples
 of the dash length.
<hr>
See also <A href="ltx-43.html">Picture Environment</A><br>
See also <a href="ltx-237.html"><tt>\framebox</tt></a><br>
Return to <a href="ltx-2.html">LaTeX Table of Contents</a> 
<hr>
<address>
Revised: Sheldon Green, 5 Dec 1995.
</address>
</body>
</html>
