<html>
<head><title>Help On LaTeX \usebox</title><link rel=stylesheet type="text/css" title="Help with LaTeX" href="latex.css">
</head>
<body>
<h3>Hypertext Help with LaTeX</h3><h1>\usebox</h1>
<p>
 <tt>\usebox{cmd}</tt>
<p>

 Prints the box most recently saved in  <tt>cmd by</tt> a 
<a href="ltx-307.html"><tt>\savebox</tt> or <tt>\sbox</tt></a> command.
<p>
 The <tt>\usebox</tt> command is <a href="fragile.html">robust</a>.
<hr>
See <a href="ltx-143.html">Spaces and Boxes</a><br>
See <a href="ltx-277.html"><tt>\newsavebox</tt></a>,
    <a href="ltx-307.html"><tt>\savebox</tt></a><br>
Back to the <a href="ltx-2.html">Table of Contents</a>
<hr>
<address>
Revised: Sheldon Green, 8 Aug 1995.
</address>
</body>
</html>
