<html>
<head><title>Help On LaTeX \hspace</title><link rel=stylesheet type="text/css" title="Help with LaTeX" href="latex.css">
</head>
<body>
<h3>Hypertext Help with LaTeX</h3><h1>\hspace</h1>
<p>
 <tt>\hspace[*]{len}</tt>
<p>

 The <tt>\hspace</tt> command  adds horizontal  space.   The length of the space
 <tt>len</tt>
 can be expressed  in any terms that LaTeX understands,  i.e.,  points,
 inches, etc.  You can add negative  as well as positive  space with an
 <tt>\hspace</tt> command.  Adding negative space is like backspacing.
<p>

 LaTeX removes  horizontal  space that comes at the end of a line.   If
 you don't want LaTeX  to remove  this space,  include  the optional  *
 argument.  Then the space is never removed.
<hr>
See <a href="ltx-143.html">Spaces and Boxes</a>, 
    <a href="ltx-86.html">Lengths</a><br>
Back to the <a href="ltx-2.html">Table of Contents</a>
<hr>
<address>
Revised: Sheldon Green, 10 May 1995.
</address>
</body></html>
