<html>
<head><title>Help On LaTeX \date</title>
<link rel=stylesheet type="text/css" title="Help with LaTeX" href="latex.css">
</head>
<body>
<h3>Hypertext Help with LaTeX</h3><h1>\date</h1>
<p>
 <tt>\date{text}</tt>
<p>
 The <tt>\date</tt> command declares <tt>text</tt> 
 to be the document's  date.  With no
 <tt>\date</tt> command, the current date is used.
<hr>
See also <A href="ltx-131.html">Page Styles</A>, 
         <A href="ltx-263.html"><tt>\maketitle</tt></A><br> 
See also <a href="ltx-330.html"><tt>\today</tt></a><br>
Return to <a href="ltx-2.html">LaTeX Table of Contents</a>
<hr>
<address>
Revised: Sheldon Green, 17 May 1995.
</address>
</body>
</html>
