<html>
<head><title>Help On LaTeX Starting and Ending</title><link rel=stylesheet type="text/css" title="Help with LaTeX" href="latex.css">
</head>
<body>
<h3>Hypertext Help with LaTeX</h3><h1>Starting and Ending</h1>
<p>
 Your input file must contain the following commands as a minimum.
<pre><tt>
 <a href="ltx-22.html">\documentstyle{style}</a>
 \begin{document}
   ... your text goes here ...
 \end{document}
</tt></pre>
 where the <tt>style</tt> selected  is one the valid  styles  for LaTeX; see
 <a href="ltx-22.html">Document Styles</a>.
<p>
 You may include other LaTeX commands  between  the <tt>\documentstyle</tt>  and
 the <tt>\begin{document}</tt> commands.
<hr>
See also <a href="input.html">Input to LaTeX</a><br>
Return to <a href="ltx-2.html">LaTeX Table of Contents</a>
<hr>
<address>
Revised: Sheldon Green, 23 Jun 1995.
</address>
</body>
</html>
