<html>
<head><title>Help On LaTeX \bigskip</title><link rel=stylesheet type="text/css" title="Help with LaTeX" href="latex.css">
</head>
<body>
<h3>Hypertext Help with LaTeX</h3><h1>\bigskip</h1>
<p>
 The <tt>\bigskip</tt>  command  is equivalent  to 
 <tt>\vspace{\bigskipamount}</tt>  where
 <tt>\bigskipamount</tt> is determined by the document style.
<hr>
See also: <A href="ltx-143.html">Spaces and Boxes</A><br> 
Back to the <a href="ltx-2.html">Table of Contents</a>
<hr>
<address>
Revised: Sheldon Green, 10 May 1995.
</address>
</body>
</html>
