<html>
<head><title>Help On LaTeX \flushbottom</title>
<link rel=stylesheet type="text/css" title="Help with LaTeX" href="latex.css">
</head>
<body>

<h3>Hypertext Help with LaTeX</h3>
<h1>\flushbottom</h1>
 <p>The <tt>\flushbottom</tt>  declaration  makes  all text pages  the same height,
 adding extra vertical space when necessary to fill out the page.</p>

<hr>
<p>See also <A href="ltx-22.html">Document Styles</a><br>
See also <a href="ltx-299.html"><tt>\raggedbottom</tt></a><br> 
Return to the <a href="ltx-2.html">LaTeX Table of Contents</a></p>
<hr>
<address>
Revised: Sheldon Green, 28 Jun 1995.
</address>
</body>
</html>
