<html>
<head><title>Help On LaTeX \multiput</title><link rel=stylesheet type="text/css" title="Help with LaTeX" href="latex.css">
</head>
<body>
<h3>Hypertext Help with LaTeX</h3><h1>\multiput</h1>
<p>
 <tt>\multiput(x coord,y coord)(delta x,delta y){number of copies}{object}</tt>
<p>
 The <tt>\multiput</tt> command can be used when you are putting the same object
 in a regular pattern across a picture.
<hr>
See also <A href="ltx-27.html">Environments</A>, 
  <A href="ltx-43.html">picture</A><br>
Return to <a href="ltx-2.html">LaTeX Table of Contents</a>
<hr>
<address>
Revised: Sheldon Green, 12 May 1995.
</address>
</body>
</html>
