<html>
<head><title>Help On LaTeX \rule</title><link rel=stylesheet type="text/css" title="Help with LaTeX" href="latex.css">
</head>
<body>
<h3>Hypertext Help with LaTeX</h3><h1>\rule</h1>
<p>
 <tt>\rule[raise-height]{width}{height}</tt>
<p>

 The <tt>\rule</tt> command generates a rectangular "blob of ink."
 It can be used to produce horizontal or vertical lines.  The arguments
 are defined as follows.
  <ul>
  <li><TT>raise-height</TT> specifies how high to raise the rule (optional)
  <li><TT>width</TT> specifies the length of the rule (mandatory)
  <li><TT>height</TT> specifies the height of the rule (mandatory)
  </ul>
 The default value for <tt>raise-height</tt> is zero; a negative value 
 lowers the rule.
<p>
 The reference point of the rule box is the lower left-hand corner.
<p> 
 A rule box of zero width may be used as a "strut" which is invisible but
 which causes LaTeX to adjust veritcal spacing to leave room.  This can 
 be particularly useful where the 
 <a href="ltx-347.html"><tt>\vspace</tt></a> command cannot be used,
 for example, within <a href="ltx-115.html">mathematical formulas</a>.
<p>
 The <tt>\rule</tt> command is <a href="fragile.html">fragile</a>.
<hr>
See <a href="ltx-143.html">Spaces and Boxes</a><br>
Back to the <a href="ltx-2.html">Table of Contents</a>
<hr>
<address>
Revised: Sheldon Green, 21 Aug 1995.
</address>
</body>
</html>
