<html>
<head><title>Help On LaTeX Document Styles</title>
<link rel=stylesheet type="text/css" title="Help with LaTeX" href="latex.css">
</head>
<body>

<h3>Hypertext Help with LaTeX</h3>
<h1>Document Styles</h1>
<p>
 Valid LaTeX document styles include:</p>
  <ul>
  <li><I>article</I>
  <li><I>report</I>
  <li><I>letter</I>
  <li><I>book</I>
  </ul>
 <p>They are selected with the following command:</p>

<p>
 <tt>\documentstyle[options]{style}</tt></p>

<p>The options for the different styles are:</p>

<ol>
 <li>article:  11pt, 12pt, twoside, twocolumn,  draft,  fleqn,  leqno,
     acm
 <li>report:  11pt, 12pt, twoside, twocolumn, draft, fleqn, leqno, acm
 <li>letter:  11pt, 12pt, fleqn, leqno, acm
 <li>book:  11pt, 12pt, twoside,twocolumn, draft, fleqn, leqno
</ol>
 <p>If you specify  more than  one option,  they  must  be separated  by a
 comma.</p>

<hr>
<p>Related topics:</p>
<ul>
<li><A href="ltx-227.html">\flushbottom</A>
<li><A href="ltx-284.html">\onecolumn</A>
<li><A href="ltx-299.html">\raggedbottom</A>
<li><A href="ltx-332.html">\twocolumn</A>
</ul>
<p>See also <a href="ltx-169.html">starting and ending</a><br>
The <tt>\documentstyle</tt> 
command has been changed in <a href="versions.html">LaTeX2e</a></p>

<p>
Go to <A href="ltx-177.html">Typeface Styles</A><br>
Back to the <a href="ltx-2.html">LaTeX Table of Contents</a></p>
<hr>
<address>
Revised: Sheldon Green, 7 Jul 1995.
</address>
</body>
</html>
