<html>
<head><title>Help On LaTeX \clearpage</title><link rel=stylesheet type="text/css" title="Help with LaTeX" href="latex.css">
</head>
<body>
<h3>Hypertext Help with LaTeX</h3><h1>\clearpage</h1>
<p>
 The <tt>\clearpage</tt>  command  ends the current  page and causes all figures
 and tables that have so far appeared in the input to be printed.
<hr>
See also <A href="ltx-99.html">Line and Page Breaking</A><br>
Go to <a href="ltx-2.html">LaTeX Table of Contents</a>
<hr>
<address>
Revised: Sheldon Green, 5 May 1995.
</address>
</body>
</html>
