<html>
<head><title>Help On LaTeX theorem</title>
<link rel=stylesheet type="text/css" title="Help with LaTeX" href="latex.css">
</head>
<body>
<h3>Hypertext Help with LaTeX</h3><h1>theorem</h1>
<pre>
 \begin{theorem}
  theorem text
 \end{theorem}
</pre>
 The theorem environment  produces "Theorem x" in boldface followed  by
 your theorem text.
<hr>
See also <a href="ltx-3.html">Counters</a><br>
Back to the <a href="ltx-2.html">Table of Contents</a>
<hr>
<address>
Revised: Sheldon Green, 27 Sep 1995.
</address> 
</body>
</html>
