<html>
<head><title>Help On LaTeX \-</title><link rel=stylesheet type="text/css" title="Help with LaTeX" href="latex.css">
</head>
<body>
<h3>Hypertext Help with LaTeX</h3><h1>\-</h1>
<p>
<h2>In normal text</h2>
 the <tt>\-</tt> command  tells  LaTeX  that it may hyphenate  the word  at that
 point.   LaTeX is very good at hyphenating,  and it will usually  find
 all correct  hyphenation  points.   The  <tt>\-</tt> command  is used  for  the
 exceptional cases.
<p>
<h2>In the <a href="ltx-58.html">tabbing</a> environment</h2>
 the <tt>\-</tt> command moves the left margin of the next and all the following
 commands one tab stop to the left.
<hr>
See also <A href="ltx-27.html">Environments</A>,
   <A href="ltx-58.html">tabbing</A>, 
   <A href="ltx-99.html">Line and Page Breaking</A><br>
See also <a href="ltx-244.html"><tt>\hyphenation</tt></a><br>
Go to <a href="ltx-2.html">LaTeX Table of Contents</a>
<hr>
<address>
Revised: Sheldon Green, 15 Jun 1995.
</address>
</body>
</html>
