<html>
<head><title>Help On LaTeX quote</title>
<link rel=stylesheet type="text/css" title="Help with LaTeX" href="latex.css">
</head>
<body>
<h3>Hypertext Help with LaTeX</h3><h1>quote</h1>
<pre>
 \begin{quote}
  text
 \end{quote}
</pre>

 The margins of the quote environment  are indented on the left and the
 right.  The text is justified  at both margins.  For longer quotations 
 (more than one paragraph) use the <a href="ltx-297.html">quotation
 environment</a>.

<hr>
See also <A href="ltx-297.html">Quotation Environment</A><br> 
Return to the <a href="ltx-2.html">LaTeX Table of Contents</a>
<hr>
<address>
Revised: Sheldon Green, 27 Sep 1995.
</address>
</body>
</html>
