<html>
<head><title>Help On LaTeX \frac</title><link rel=stylesheet type="text/css" title="Help with LaTeX" href="latex.css">
</head>
<body>
<h3>Hypertext Help with LaTeX</h3><h1>\frac</h1>
 <tt>\frac{num}{den}</tt>
<p>

 The <tt>\frac</tt> command produces the fraction num divided by den,
 placing the numerator over a horizontal line (solidus) and the 
 denominator below.

<hr>
See also: <A href="ltx-115.html">Math Formulas</A>,
  <A href="ltx-119.html">Math Miscellany</A><br>
Return to the <a href="ltx-2.html">Table of Contents</a>
<hr>
<address>
Revised: Sheldon Green, 15 May 1995.
</address> 
</body>
</html>
