<html>
<head><title>Help On LaTeX \input</title><link rel=stylesheet type="text/css" title="Help with LaTeX" href="latex.css">
</head>
<body>
<h3>Hypertext Help with LaTeX</h3><h1>\input</h1>
 <tt>\input{file}</tt>
<p>
 The <tt>\input</tt> command causes the indicated <tt>file</tt> 
 to be read and processed,
 exactly as if its contents  had been inserted  in the current  file at
 that point.  The file name may be a complete  file name with extension
 or just a first name, in which case the file <tt>file.tex</tt> is used.
<hr>
See also <A href="ltx-165.html">Splitting the Input</A><br>
See also <A href="ltx-245.html"><tt>\include</tt></A><br>
Return to the <a href="ltx-2.html">LaTeX Table of Contents</a>
<hr>
<address>
Revised: Sheldon Green, 30 Oct 1995.
</address>
</body>
</html>
