<html>
<head><title>Help On LaTeX trivlist</title>
<link rel=stylesheet type="text/css" title="Help with LaTeX" href="latex.css">
</head>
<body>

<h3>Hypertext Help with LaTeX</h3>
<h1>trivlist</h1>

<pre>
 <tt>\begin{trivlist}
 \item First item
 ....
 \end{trivlist}</tt>
</pre>

<p>This is ike the  <a href="ltx-260.html">List Environment</a>, but 
uses the currently defined values of 
list-making parameters. It is  normally used to define an environment with a 
single item, with an <a href="item.html"><tt>\item</tt></a> command
as part of the environment definition.</p>

<hr>
<p>See <a href="lists.html">Lists</a>,
 <a href="ltx-260.html">List Environment</a>, 
 <a href="ltx-27.html">Environments</a><br>
Back to the <a href="ltx-2.html">Table of Contents</a></p>

<hr>
<address>
Revised: Sheldon Green, 1 Jun 1995.
</address>
</body>
</html>



