<html>
<head><title>Help On LaTeX \unitlength</title>
<link rel=stylesheet type="text/css" title="Help with LaTeX" href="latex.css">
</head>
<body>

<h3>Hypertext Help with LaTeX</h3>
<h1>\unitlength</h1>

<p>
 The <tt>\unitlength</tt> command is a <a href="ltx-86.html">Length
 command</a>.  It defines the units used in the 
 <a href="ltx-43.html">Picture Environment</a>.</p>

<p>
The default value is 1 point (approximately 1/72 inch) but it may
be changed using the <a href="ltx-88.html"><tt>\setlength</tt></a>
command.</p>

<hr>
<p>See also <A href="ltx-27.html">Environments</A>, 
  <A href="ltx-43.html">Picture Environment</A><br>
See also <a href="ltx-86.html">Lengths</a><br>
Return to <a href="ltx-2.html">LaTeX Table of Contents</a></p>

<hr>
<address>
Revised: Sheldon Green, 12 May 1995.
</address>
</body>
</html>
